<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home Page</title>
</head>

<body>
    {{> header}}
    <p>
        {{screamIT message}}
    </p>
    <p>Cloned from Git</p>
</body>
{{> footer}}

</html>